/*start general settings*/
body{
	font-family: 'Titillium Web', sans-serif;
	padding: 0;
	margin: 0;
}
h1,p, h2, h3, h4, h5{
	margin: 0;
}
h4{
	font-size: 2vmax;
	color: #535353;
}
ul{
	padding: 0;
}
p span{
    color: #fc595c;
}
li,a{
	list-style: none;
	text-decoration: none;
}
.butBox{
	width: inherit;
	margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.but a{
    border-radius: 1.55vmax;
    padding: 0.72vw 1.22vmax;
    font-weight: bold;
	font-size: 0.99vmax;
	color: #ffffff;
    background-color: rgb(88, 44, 126);
    background-image: url(img/Layer6.png);
    box-shadow: 0 7px 9px 0 rgba(142, 117, 222, 0.15),0 13px 21px 0 rgba(20, 80, 204, 0.27),0 13px 21px 0 rgba(0, 0, 0, 0.15),0 4px 16px 0 rgba(102, 145, 233, 0.33),0 4px 16px 0 rgba(0, 0, 0, 0.09),0 3px 9px 0 rgba(53, 103, 205, 0.09),0 3px 9px 0 rgba(0, 0, 0, 0.09),0 3px 3px 0 rgba(102, 145, 233, 0.09),0 3px 3px 0 rgba(0, 0, 0, 0.17);
}
.but a:hover{
    transform: scale(0.95);
}
.wrap{
   width: 77.7vw;
   margin: 0 auto;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}
ul.specialList{
	display: flex;
	flex-wrap: nowrap;
	padding-left: 0;
	position: absolute;
}
ul.specialList li{
	list-style: none;
	margin-right:  0.55vw;
}
ul.specialList li:last-child{
	margin-right:  0;
}
ul.specialList li a {
	cursor: pointer;
	font-weight: normal;
}
/*end general settings*/

/*start header*/
header.wrap{
    height: 19.8vh;
    position: relative;
}
section.cover{
    background: url(img/photo.png) no-repeat 50% 25%;
}
.socialIcons{
	width: 1.11vw;
	position: absolute;
	right: 1.77vw;
	top: 32.3vh;
	margin: 0;
}
.socialIcons img{
	width: 100%;
}
.logo{
	font-size: 1.66vmax;
	font-weight: bold;
	color: #858688;
	letter-spacing: 0.11vmax;
	margin-right: 28vw;
}
.logo p span{
	color: #5b4295;
}
ul.specialList.lang {
	left: 0;
	bottom: 2.2vh;
	font-size: 0.77vmax;
	color: #858688;
}
ul.specialList.lang li a {
	color: #858688;
}
ul.specialList.lang li a:hover {
	border-bottom: 1px solid #bfc5d4;
}
header nav ul{
	display: flex;
	flex-wrap: nowrap;
    padding-left: 0;
}
header nav ul li{
	color: #777777;
	margin-right: 1.44vmax;
}
header nav ul li:last-child{
	margin-right: 0;
}
header nav ul a{
	color: #777777;
	width: 100%;
	font-size: 0.99vmax;
}
header ul a:hover{
	border-bottom: 1px solid #777777;
}
.butBox{
	display: flex;
	flex-wrap: nowrap;
}
header .but a{
	color: #454545;
	background-color: inherit;
	background-image: none;
	box-shadow: none;
}
header .but+header .but{
	margin-right: 0;
}
header .but a:hover{
	color: #ffffff;
    background-color: rgb(88, 44, 126);
    background-image: url(img/Layer6.png);
    box-shadow: 0 7px 9px 0 rgba(142, 117, 222, 0.15),0 13px 21px 0 rgba(20, 80, 204, 0.27),0 13px 21px 0 rgba(0, 0, 0, 0.15),0 4px 16px 0 rgba(102, 145, 233, 0.33),0 4px 16px 0 rgba(0, 0, 0, 0.09),0 3px 9px 0 rgba(53, 103, 205, 0.09),0 3px 9px 0 rgba(0, 0, 0, 0.09),0 3px 3px 0 rgba(102, 145, 233, 0.09),0 3px 3px 0 rgba(0, 0, 0, 0.17);
}
/*end header*/

/*start mainInfo*/
.wrap.mainInfo{
    color: #636363;
    display: block;
    text-align: center; 
    padding-top: 17.5vh;
    padding-bottom: 32.8vh;
}
h1{
	font-size: 3.33vmax;
	text-transform: capitalize;
}
.mainInfo p{
    font-size: 2vmax;
    margin-bottom: 7.8vh;
}
.mainInfo .but.createAcc a{
	padding: 0.66vmax 3.61vmax;
	margin-right: 1vmax;
    background-color: rgb(95, 41, 102);
    background-image: url("img/Layer8.png");
    background-position: center top 20%;
    box-shadow: 0 7px 9px 0 rgba(100, 115, 151, 0.15),0 13px 21px 0 rgba(20, 80, 204, 0.27),0 13px 21px 0 rgba(0, 0, 0, 0.15),0 4px 16px 0 rgba(102, 145, 233, 0.33),0 4px 16px 0 rgba(0, 0, 0, 0.09),0 3px 9px 0 rgba(53, 103, 205, 0.09),0 3px 9px 0 rgba(0, 0, 0, 0.09),0 3px 3px 0 rgba(102, 145, 233, 0.09),0 3px 3px 0 rgba(0, 0, 0, 0.17);
}
.butIcon{
	display: block;
	width: 2.88vmax;
	height: 2.88vmax;
    border-radius: 50%;
    background-color: rgb(95, 41, 102);
    opacity: 0.9;
}
.butIcon.apple {
	background-image: url("img/apple.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 1vmax;
}
.butIcon.play{
	background-image: url("img/Layer9.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.createAcc:hover, .butIcon:hover{
    transform: scale(0.95);
}
/*end mainInfo*/

/*start description*/
section.wrap.descriptionBox{
	justify-content: flex-end;
	align-items: flex-start;
}
section.wrap.descriptionBox .description{
	width: 19.06vw;
	font-size: 0.77vmax;
	color: #959393;
	padding: 10vh 2.55vw;
}
section.wrap.descriptionBox .description .caption {	
	padding-bottom: 3.7vh;
	position: relative;
}
section.wrap.descriptionBox .description h4{
	font-size: 1.66vmax;
	color: #555555;
	position: absolute;
	left: 3.99vw;
	top: 0;
}
section.wrap.descriptionBox .description .caption p{
	font-size: 1vmax;	
	position: absolute;
	left: 3.99vw;
	top: 5vh;
}

section.wrap.descriptionBox .description .caption img{
	width: 3vmax;
	height: 3.33vmax;
	box-sizing: border-box;
	font-size: 1vmax;	
}
/*end description*/

/*start security section*/
section.wrap.security{
	display: block;
	width: 34.16vw;
	text-align: right;
	padding:13vh 2.22vw 6vh 27.5vw;
	margin: 0;
	color: #959393;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	position: relative;
}
section.wrap.security h2{
	color: #535353;
	font-size: 3.33vmax;
	text-transform: capitalize;
	padding-bottom: 2.5vh;
}
section.wrap.security p{
	font-size: 1.3vmax;
	line-height: 0.9;
}
section.wrap.security .but a{
	background-image: none;
	background-color: #ffffff;
	color: #676767;
	box-shadow: none;
	border: 1px solid #b9b9b9;
	padding: 1.27vmax 2vmax;
	position: absolute;
	right: -9.61vw;
	bottom: -4vh;
	z-index: 5;
}
/*end security section*/

/*start customers section*/
section.wrap.customers{
	justify-content: flex-start;
	align-items: center;
	width: 62.55vw;
	text-align: left;
	padding:9vh 0 9vh 1.33vw;
	margin: 0;
}
section.wrap.customers img{
    width: 7.5vw;
    margin-right: 3vw;
    box-sizing: border-box;
}
section.wrap.customers img:last-child{
    width: 3.33vw;
    margin-right: 0;
}
/*end customers section*/

/*section main start*/
section.mainSection{
	width: 100%;
	background: url("img/Layer30.png");
	background-position-y: -30%;
}
section.mainSection .wrap{
	display: block;
	position: relative;
}
/*start slider*/
#slider{
	max-width: 30.5vw;
	max-height: 27.5vh;
	color: #101010;
	font-size: 1.33vmax;
	z-index: 10;
	position: absolute;
	left: 11.11vw;
}
#numQuotes{
	width: 3.33vw;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: start;
	border: 1px solid #000;
	position: absolute;
	left: 7.78vw;
}
section.mainSection input[type="radio"]{
    margin-bottom: 0.6vh;
}
#slider p.author{
	margin-top: 2vh;
	color: #727272;
	font-size: 0.88vmax;
}
/*end  slider*/

section.mainSection .someDiv{
	text-align: right;
	position: absolute;
	left: calc( 50% - 16vw );
	bottom: 20vh;
	z-index: 5;
}
section.mainSection .someDiv p{
	color: #959393;
	font-size: 1vmax;
	margin-bottom: 3.5vh;
}
section.mainSection .butBox{
	width: 100%;
	justify-content: flex-end;
}
section.mainSection .someDiv h4{
	margin-bottom: 2.5vh;
}
section.mainSection a{
	display: block;
	width: 10vw;
	height: 5.5vh;
}
section.mainSection a img{
	width: 100%;
	height: 100%;
}
section.mainSection a:first-child{
	margin-right: 0.83vw;
}
section.mainSection .wrap img.mainImg{
	position: relative;
	right: 0;
	z-index: 3;
	bottom: -3vh;
    left: 42vw;
}
/*end main section*/

/*section privacy start*/
section.wrap.privacy{
	margin: 0;
	float: right;
	border-top: 1px solid #b9b9b9;
	padding: 6vw 0;
}
section.wrap.privacy .donate{
	width: 55.55vw;
	display: block;
	float: left;
	color: #7c7c7c;
	text-align: center;
}
section.wrap.privacy .donate p{
	margin-bottom: 4vh;
}
section.wrap.privacy .but a{
	background-position: center top 20%;
}
section.wrap.privacy .but.cloudBut a{
	margin-right: 1vmax;
	padding: 0.66vmax 1.8vmax;
	background-color: rgb(95, 41, 102);
	background-image: url("img/Layer8.png");
}
section.wrap.privacy .but img{
	width: 1.11vmax;
	height: 1.11vmax;
	margin-right: 0.44vw;
	position: relative;
	bottom: -0.44vh;
}
section.wrap.privacy .but.donateBut a{
	padding: 0.66vmax 2.5vmax;
	background-color: #5e7bea;
	background-image: url("img/Layer32.png");
	box-shadow: 0 7px 9px 0 rgba(26, 230, 218, 0.15),0 13px 21px 0 rgba(26, 230, 218, 0.27),0 13px 21px 0 rgba(0, 0, 0, 0.15),0 4px 16px 0 rgba(26, 230, 218, 0.33),0 4px 16px 0 rgba(0, 0, 0, 0.09),0 3px 9px 0 rgba(26, 230, 218, 0.09),0 3px 9px 0 rgba(0, 0, 0, 0.09),0 3px 3px 0 rgba(26, 230, 218, 0.09),0 3px 3px 0 rgba(0, 0, 0, 0.17);
}
/*section privacy end*/

/*section partners start*/
.wrap.partners{
	margin: 0;
	justify-content: flex-end;
	position: relative;
	padding:5vh 0 16.5vh 0;
	border-top: 1px solid #b9b9b9;
}
.wrap.partners img{
    margin-left: 3vw;
	max-width: 100%;
}
.wrap.partners img:last-of-type{
	margin-right: 1.5vw;
}
.partners aside{
	position: absolute;
	right: 1.5vw;
	top: 2vh;
	color:  #7a7a7a;
	font-size: 0.77vmax;
}
/*section partners end*/

/*footer start*/
footer.wrap{
	width: 66.66vw;
	margin: 0 0 0 11vw;
    align-items: flex-start;
	position: relative;
	font-size: 0.77vmax;
	color: #5c5c5c;
}
footer a{
	color: inherit;
}
.linkMail {
	margin-left: 1.33vw;
	margin-right: 20.05vw;
}
.linkMail a{
	font-weight: bold;
}
.linkMail a.lastLink{
	border-bottom: 1px solid #d6d6d6;
}
.linkMail p:last-child{
	margin-top: 3vh;
}
ul.specialList.socialNetworks {
	left: 0;
	bottom: 5vh;
	font-size: .66vmax;
}
ul.specialList.socialNetworks li a {
	border-bottom: 1px solid #d6d6d6;
}
ul.specialList.socialNetworks li a:hover {
	border-bottom: none;
}
.copyrightInfo{
	position: absolute;
	left: 0;
	bottom: 3vh;
	font-size: 0.66vmax;
	font-weight: bold;
}
.footList {
	text-align: right;
	padding: 0 1.38vw 15.9vh 0;
}
.footList.line{
	border-right: 1px solid #b9b9b9;
}
.footList h5{
    font-size: 1vmax;
	font-weight: 800;
}
.footList ul li:after {
	content: "\25CF";
	padding-left: 0.38vw;
}
/*footer end*/


